@import url("all.min.css");
@import url("fontawesome.min.css");
@import url("profile.css");
@import url("table.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

ul {
    list-style: none;
}

ul li {
    padding: 0.5rem;
}

ul li a {
    padding: 0.5rem 0.8rem;
    transition: 0.5s ease-in-out;
    color: rgb(66, 66, 66);
    display: flex;
    align-items: center;
}

ul li a:hover,
ul li a:active {
    background: crimson;
    border-radius: 0.5rem;
    color: white;
}

ul.items-center li a:hover,
ul.items-center li a:active {
    background: none;
    border-radius: 0rem;
    color: none;
}

.items-left {
    display: flex;
    align-items: center;
    margin-left: 8rem;
}

/* .items-left li {
    margin-right: 2rem;
} */

.items-left li a {
    text-decoration: none;
}

.items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
}

.company-logo {
    height: 3rem;
    width: 18rem;
}

.items-center_below {
    display: flex;
    position: relative;
}

.items-center_below li a {
    text-decoration: none;
}

ul.items-center_below li a:hover,
ul.items-center_below li a:active {
    background: crimson;
    border-radius: 0.5rem;
    color: white;
}

span.border {
    height: 100%;
    width: 0.2rem;
    background: gray;
    position: absolute;
    top: 0;
    left: 43%;
}

.items-right {
    display: flex;
    margin-right: 8rem;
}

.items-right li a {
    text-decoration: none;
}

i {
    margin-left: 0.5rem;
}
.items-right li:nth-child(3) {
    transition: 0.8s ease-in-out;
    display: flex;
}

input[value="Logout"] {
    background: transparent;
    border: none;
    transition: 0.8s ease-in-out;
    font-size: 1rem;
}

.items-right li:nth-child(3):hover input[value="Logout"] {
    color: white;
}

.items-right li:nth-child(3):hover {
    background: crimson;
    border-radius: 0.5rem;
    color: black;
}

.items-right li:nth-child(3):hover i {
    color: black;
}

header {
    margin-left: 15%;
    margin-top: 15%;
    display: flex;
}

.images-slideshow {
    height: 20rem;
    width: 30rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.images-slideshow img {
    height: 20rem;
    width: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s ease-in-out;
}

.images-slideshow img:nth-child(2) {
    left: 100%;
}

.images-slideshow img:nth-child(3) {
    left: 200%;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    width: 40%;
}

.title-section h3 {
    margin: 1rem 0rem;
    font-size: 3rem;
    color: crimson;
}

.title-section p {
    margin-top: 1rem;
    color: rgb(66, 66, 66);
    word-spacing: 0.1rem;
}

.title-section a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    padding: 0.5rem 0.8rem;
    border: 0.06rem solid blue;
    width: fit-content;
    margin-top: 1rem;
    position: relative;
    transition: 0.8s ease-in-out;
}

.to-right {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background: linear-gradient(to right, blue 50%, black);
    transition: 0.8s ease-in-out;
}

.title-section a:hover {
    color: white;
}

.title-section a:hover .to-right {
    width: 100%;
}

.features-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.features-header {
    font-size: 1.5rem;
    color: crimson;
    padding: 0.5rem 0rem;
}

.features-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    /* flex-wrap: wrap; */
}

.feature-item {
    margin: 0rem 1rem;
    position: relative;
}

.feature-item img {
    height: 20rem;
    width: 25rem;
    cursor: pointer;
}

span.img-slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: crimson;
    margin-bottom: 2.1rem;
    transition: 0.8s ease-in-out;
    cursor: pointer;
    /* background: transparent; */
    opacity: 0.5;
}

.detail-container {
    position: absolute;
    top: 25%;
    left: -500%;
    z-index: 2;
    margin: 0.5rem 0rem;
    transition: 0.8s ease-in-out;
}

.detail-container p {
    color: white;
    margin-bottom: 2rem;
}

.detail-container a {
    padding: 0.5rem 1.5rem;
    width: fit-content;
    border-radius: 0.3rem;
    text-decoration: none;
    background: transparent;
    border: 0.06rem solid crimson;
    color: white;
    position: relative;
}

.to-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: crimson;
    z-index: -1;
    transition: 0.8s ease-in-out;
}

.detail-container a:hover .to-top {
    width: 100%;
}

.feature-item:hover span.img-slide {
    height: 91%;
}

.feature-item:hover .detail-container {
    left: 5%;
}

.feature-item > p {
    font-size: 1.2rem;
    font-style: bold;
    text-align: center;
    margin-top: 0.5rem;
    color: rgb(66, 66, 66);
}

footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.socials {
    list-style: none;
    display: flex;
}

ul.socials li {
    margin: 0.3rem 1rem;
}

ul.socials li a img {
    height: 4rem;
    width: 4rem;
}

ul.socials li a:hover {
    background: none;
}

footer > p {
    color: crimson;
    margin: 1rem 0rem;
}

/* Search bar */

.search-bar {
    padding: 0.5rem;
    border: none;
    box-shadow: 0rem 0rem 0.06rem 0.06rem rgb(241, 132, 154);
    outline: none;
    border-radius: 1rem;
}

.search-bar:focus {
    box-shadow: 0rem 0rem 0.06rem 0.06rem red;
    border: none;
}

.profile-icon {
    height: 3rem;
    width: 3rem;
}

.items-right_center {
    align-items: center;
}

#profile-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

#profile-box i {
    transition: 0.8s ease-in-out;
}

#profile-box span {
    color: rgb(66, 66, 66);
    transition: 0.8s ease-in-out;
    margin-left: 0.3rem;
    width: fit-content;
}

#profile-box:hover i {
    color: white;
}

#profile-box:hover span {
    color: white;
}

.backdrop {
    position: fixed;
    top: -300%;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    transition: 0.8s ease-in-out;
}

/* display settings for backdrop and popup form

.backdrop: top = 0%;
.popup: top = 25%;

*/
.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -500%;
    left: 35%;
    z-index: 1001;
    background: white;
    width: 30%;
    padding: 0.8rem 1.4rem;
    transition: 0.8s ease-in-out;
}

.popup h3 {
    text-align: center;
    margin: 0.5rem 0rem;
}

.popup form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

.popup form input {
    padding: 0.5rem 0.8rem;
    height: 3rem;
    box-shadow: 0rem 0rem 0.06rem 0.06rem rgb(233, 114, 138);
    border: none;
}

.popup form input:focus {
    box-shadow: 0rem 0rem 0.06rem 0.06rem red;
    outline: none;
}

.popup form small {
    color: red;
}

.popup form input.upload {
    width: fit-content;
    margin: 1rem 0rem;
    cursor: pointer;
    box-shadow: none;
    border: 0.06rem solid transparent;
    background: lightskyblue;
    color: white;
}

.popup form input.upload:hover {
    background: blue;
    border: 0.06rem solid blue;
}

.popup form input.submit {
    width: fit-content;
    margin: 1rem 0rem;
    cursor: pointer;
    box-shadow: none;
    border: 0.06rem solid transparent;
    background: lightgreen;
    color: white;
}

.popup form input.submit:hover {
    background: green;
    border: 0.06rem solid green;
}

span.bd-text {
    font-weight: 700;
}

/* Rating */

.stars-outer {
    position: relative;
    display: flex;
    width: fit-content;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #f8ce0b;
}

#spinner {
    animation: spin 0.8s forwards infinite;
    transition: 0.8s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#notification {
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    background: white;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    z-index: 100000;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

#notification::before {
    content: "";
    position: absolute;
    background: rgb(70, 255, 70);
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    border-radius: 0.5rem;
}
#notification p:nth-child(1) {
    margin: 1rem 0rem;
    font-weight: 700;
}

@keyframes slide-left {
    0%,
    100% {
        transform: translate3d(100%, 0, 0);
    }

    10%,
    90% {
        transform: translate3d(-2rem, 0, 0);
    }
}

#notification {
    transform: translate3d(100%, 0, 0);
    animation: slide-left 5s 0.2s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contract-forms {
    display: flex;
    margin: 1rem 0rem;
}

input[name="accepted"] {
    width: fit-content;
    background: skyblue;
    padding: 0.5rem 0.8rem;
    border: none;
    margin-right: 0.5rem;
    color: white;
    cursor: pointer;
}

input[name="accepted"]:hover {
    background: blue;
}

input[name="declined"] {
    width: fit-content;
    background: crimson;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    color: white;
}

input[name="declined"]:hover {
    background: red;
}

a.contract-link {
    text-decoration: none;
    color: white;
    background: rgb(70, 255, 70);
    padding: 0.5rem 0.8rem;
    width: fit-content;
    margin: 1rem 0rem;
}

a.contract-link:hover {
    background: green;
}

p.begin {
    color: green;
    font-weight: 600;
}
